In [49]:
import pandas as pd
import numpy as np
import gc
%matplotlib inline

In [12]:
def one_hot_encoding(df, nan_as_category=True):
    original_columns = list(df.columns)
    categorical_columns = [
        col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns=categorical_columns,
                        dummy_na=nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [63]:
def installments_payments(num_rows=None, nan_as_category=True):
    ins = pd.read_csv('../input/installments_payments.csv', nrows=num_rows)
    ins, cat_cols = one_hot_encoding(ins, nan_as_category=True)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
    ins['PAYMENT_DIFF'] = ins['AMT_PAYMENT'] - ins['AMT_INSTALMENT']
    ins['PAYMENT_NOT_ENOUGH'] = ins['PAYMENT_DIFF'] < 0
    # Days past due and days before due (no negative values)
    ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
    ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
    ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
    ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
    # construct some manual features
    ins_agg = ins.groupby('SK_ID_CURR')[['SK_ID_PREV']].count().rename(columns={'SK_ID_PREV': 'INSTAL_USR_REC_CNT'})
    ins_agg['INSTAL_USR_LOAN_CNT'] = ins.groupby('SK_ID_CURR')['SK_ID_PREV'].nunique()
    ins_agg['INSTAL_REC_CNT_PER_LOAN'] = ins_agg['INSTAL_USR_REC_CNT'] / ins_agg['INSTAL_USR_LOAN_CNT']
    
    # TIME_SPAN
    temp = ins.groupby('SK_ID_PREV')[['DAYS_INSTALMENT']].\
            agg(lambda x: x.max() - x.min()).reset_index().\
            rename(columns={'DAYS_INSTALMENT': 'TIME_SPAN'})
    temp = temp.merge(
            ins[['SK_ID_PREV', 'SK_ID_CURR']].drop_duplicates('SK_ID_PREV'),
            on='SK_ID_PREV',
            how='left')
    ins_agg['INSTAL_TIME_SPAN_MAX'] = temp.groupby('SK_ID_CURR')['TIME_SPAN'].max()
    ins_agg['INSTAL_TIME_SPAN_MIN'] = temp.groupby('SK_ID_CURR')['TIME_SPAN'].min()
    ins_agg['INSTAL_TIME_SPAN_MEAN'] = temp.groupby('SK_ID_CURR')['TIME_SPAN'].mean()
    
    # PAYMENT_TIMES
    temp = ins.groupby('SK_ID_PREV')[['NUM_INSTALMENT_NUMBER']].max().\
            rename(columns={'NUM_INSTALMENT_NUMBER': 'INSTALL_TIMES'})
    temp = temp.merge(
            ins[['SK_ID_PREV', 'SK_ID_CURR']].drop_duplicates('SK_ID_PREV'),
            on='SK_ID_PREV',
            how='left')
    ins_agg['INSTAL_TIMES_MAX'] = temp.groupby('SK_ID_CURR')['INSTALL_TIMES'].max()
    ins_agg['INSTAL_TIMES_MIN'] = temp.groupby('SK_ID_CURR')['INSTALL_TIMES'].min()
    ins_agg['INSTAL_TIMES_MEAN'] = temp.groupby('SK_ID_CURR')['INSTALL_TIMES'].mean()
    
    
    # Features: Perform aggregations
    aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['min', 'mean', 'var'],
        'PAYMENT_DIFF': ['min', 'mean', 'var'],
        'PAYMENT_NOT_ENOUGH': ['mean', 'sum'],  # NOT_ENOUGH's mean is the underpay ratio of a user
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    ins_agg_auto = ins.groupby('SK_ID_CURR').agg(aggregations)
    ins_agg_auto.columns = pd.Index(
        ['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg_auto.columns.tolist()])
    
    recent = ins[ins['DAYS_INSTALMENT'] > -365]
    recent_agg = recent.groupby('SK_ID_CURR').agg(aggregations)
    recent_agg.columns = pd.Index(
        ['RECENT_INSTAL_' + e[0] + "_" + e[1].upper() for e in recent_agg.columns.tolist()])
    
    ins_agg = ins_agg.merge(ins_agg_auto, on='SK_ID_CURR', how='left')
    ins_agg = ins_agg.merge(recent_agg, on='SK_ID_CURR', how='left')
    del ins, temp, recent, ins_agg_auto, recent_agg
    gc.collect()
    return ins_agg
ins_agg = installments_payments()
ins_agg

,INSTAL_USR_REC_CNT,INSTAL_USR_LOAN_CNT,INSTAL_REC_CNT_PER_LOAN,INSTAL_TIME_SPAN_MAX,INSTAL_TIME_SPAN_MIN,INSTAL_TIME_SPAN_MEAN,INSTAL_TIMES_MAX,INSTAL_TIMES_MIN,INSTAL_TIMES_MEAN,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,...,RECENT_INSTAL_AMT_INSTALMENT_MAX,RECENT_INSTAL_AMT_INSTALMENT_MEAN,RECENT_INSTAL_AMT_INSTALMENT_SUM,RECENT_INSTAL_AMT_PAYMENT_MIN,RECENT_INSTAL_AMT_PAYMENT_MAX,RECENT_INSTAL_AMT_PAYMENT_MEAN,RECENT_INSTAL_AMT_PAYMENT_SUM,RECENT_INSTAL_DAYS_ENTRY_PAYMENT_MAX,RECENT_INSTAL_DAYS_ENTRY_PAYMENT_MEAN,RECENT_INSTAL_DAYS_ENTRY_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,7,2,3.500000,90.0,60.0,75.000000,4,4,4.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,19,1,19.000000,540.0,540.0,540.000000,19,19,19.000000,2,...,53093.745,12905.272500,154863.270,9251.775,53093.745,12905.272500,154863.270,-49.0,-207.583333,-2491.0
100003,25,3,8.333333,330.0,150.0,220.000000,12,6,8.333333,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,3,1,3.000000,60.0,60.0,60.000000,3,3,3.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005,9,1,9.000000,240.0,240.0,240.000000,9,9,9.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,16,3,5.333333,270.0,0.0,130.000000,10,1,5.333333,2,...,691786.890,89278.371818,982062.090,29027.520,691786.890,89278.371818,982062.090,-12.0,-152.636364,-1679.0
100007,66,5,13.200000,480.0,270.0,348.000000,17,10,12.600000,2,...,16046.100,16038.290769,208497.780,16037.640,16046.100,16038.290769,208497.780,-14.0,-196.076923,-2549.0
100008,35,4,8.750000,270.0,150.0,225.000000,10,6,8.500000,2,...,17885.835,17884.863000,178848.630,17876.115,17885.835,17884.863000,178848.630,-82.0,-215.000000,-2150.0
100009,51,8,6.375000,330.0,0.0,161.250000,12,1,6.500000,1,...,10418.670,8622.197609,198310.545,7499.565,10418.670,8622.197609,198310.545,-58.0,-213.130435,-4902.0
100010,10,1,10.000000,270.0,270.0,270.000000,10,10,10.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100011,130,3,43.333333,2192.0,330.0,1130.666667,76,12,39.333333,2,...,31295.250,10142.218125,162275.490,563.355,30897.585,6230.311875,99684.990,-37.0,-235.312500,-3765.0
100012,48,3,16.000000,660.0,240.0,410.000000,23,9,14.666667,4,...,32183.370,10513.850294,178735.455,883.485,32183.370,9863.407059,167677.920,-151.0,-273.882353,-4656.0
100013,155,4,38.750000,2691.0,150.0,890.250000,113,6,36.250000,3,...,357347.745,18979.892143,398577.735,23.580,357347.745,18528.233571,389092.905,-14.0,-181.285714,-3807.0
100014,19,2,9.500000,330.0,30.0,180.000000,12,2,7.000000,1,...,14045.625,14045.625000,28091.250,14045.625,14045.625,14045.625000,28091.250,-36.0,-56.500000,-113.0
100015,10,1,10.000000,270.0,270.0,270.000000,10,10,10.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100016,74,4,18.500000,690.0,240.0,435.000000,24,10,15.750000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100017,30,2,15.000000,570.0,270.0,420.000000,20,10,15.000000,1,...,11783.520,11783.520000,141402.240,11783.520,11783.520,11783.520000,141402.240,-21.0,-187.416667,-2249.0
100018,24,3,8.000000,330.0,120.0,206.000000,12,5,8.000000,2,...,4180.365,4180.365000,20901.825,4180.365,4180.365,4180.365000,20901.825,-40.0,-103.800000,-519.0
100019,8,1,8.000000,180.0,180.0,180.000000,7,7,7.000000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100020,13,2,6.500000,180.0,150.0,165.000000,7,6,6.500000,1,...,8779.770,6644.115000,66441.150,5729.265,8779.770,6644.115000,66441.150,-35.0,-190.100000,-1901.0
100021,23,4,5.750000,210.0,60.0,142.500000,8,3,5.750000,2,...,7424.865,7424.865000,59398.920,7424.865,7424.865,7424.865000,59398.920,-66.0,-146.625000,-1173.0
100022,7,1,7.000000,180.0,180.0,180.000000,7,7,7.000000,1,...,6765.975,6765.975000,47361.825,6765.975,6765.975,6765.975000,47361.825,-51.0,-142.428571,-997.0
100023,26,3,8.666667,390.0,90.0,230.000000,14,4,8.666667,2,...,231819.525,70571.711250,282286.845,16822.440,231819.525,70571.711250,282286.845,-166.0,-201.750000,-807.0
100025,46,4,11.500000,510.0,143.0,245.750000,18,6,9.250000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100026,8,2,4.000000,150.0,30.0,90.000000,6,2,4.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100027,22,2,11.000000,330.0,270.0,300.000000,12,10,11.000000,1,...,21569.220,21567.500000,194107.500,21553.740,21569.220,21567.500000,194107.500,-116.0,-241.666667,-2175.0
100028,113,3,37.666667,1275.0,120.0,695.000000,74,5,34.333333,3,...,11250.000,4932.788684,93722.985,1.170,11250.000,4057.650000,77095.350,-29.0,-243.210526,-4621.0
100029,4,1,4.000000,90.0,90.0,90.000000,4,4,4.000000,2,...,66993.345,33917.096250,135668.385,22891.680,66993.345,33917.096250,135668.385,-224.0,-267.750000,-1071.0
100030,6,2,3.000000,120.0,0.0,60.000000,5,1,3.000000,2,...,17846.145,10797.777000,53988.885,9035.685,17846.145,10797.777000,53988.885,-233.0,-313.200000,-1566.0
100032,7,1,7.000000,150.0,150.0,150.000000,6,6,6.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456225,197,3,65.666667,2865.0,570.0,1495.000000,106,106,106.000000,9,...,117000.000,16178.647500,485359.425,1350.000,117000.000,15878.647500,476359.425,-15.0,-216.000000,-6480.0
456226,4,1,4.000000,90.0,90.0,90.000000,4,4,4.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456227,51,5,10.200000,330.0,210.0,264.000000,12,8,9.800000,3,...,57217.185,23950.745000,215556.705,837.000,57217.185,21751.585000,195764.265,-139.0,-239.777778,-2158.0
456228,74,6,12.333333,360.0,270.0,310.000000,13,10,11.333333,2,...,904762.080,345272.850000,1035818.550,65528.235,904762.080,345272.850000,1035818.550,-286.0,-310.666667,-932.0
456230,22,4,5.500000,300.0,30.0,135.000000,11,2,7.000000,2,...,53109.315,49948.695000,649333.035,32594.175,53109.315,49948.695000,649333.035,-29.0,-182.769231,-2376.0
456231,23,5,4.600000,150.0,30.0,108.000000,6,2,4.600000,2,...,43742.970,20242.560000,60727.680,8492.355,43742.970,20242.560000,60727.680,-302.0,-363.333333,-1090.0
456232,25,3,8.333333,510.0,0.0,220.000000,18,1,8.333333,2,...,14983.605,10955.356071,153374.985,2931.345,14983.605,10955.356071,153374.985,-24.0,-224.928571,-3149.0
456233,28,2,14.000000,270.0,186.0,228.000000,18,10,14.000000,2,...,22500.000,5974.548750,167287.365,24.300,22500.000,5974.548750,167287.365,-20.0,-133.607143,-3741.0
456234,14,2,7.000000,180.0,120.0,150.000000,101,7,54.000000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456235,33,3,11.000000,480.0,150.0,300.000000,17,6,11.000000,1,...,6076.350,5373.368182,118214.100,4787.550,6076.350,5373.368182,118214.100,-38.0,-186.454545,-4102.0
456236,131,4,32.750000,2011.0,150.0,727.750000,106,6,34.750000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456237,67,5,13.400000,570.0,0.0,292.000000,26,1,13.200000,3,...,163509.300,16700.733000,584525.655,26.370,163509.300,16638.933857,582362.685,-19.0,-200.885714,-7031.0
456238,4,1,4.000000,90.0,90.0,90.000000,4,4,4.000000,2,...,70911.135,24956.831250,99827.325,9638.730,70911.135,24956.831250,99827.325,-256.0,-323.500000,-1294.0
456239,120,2,60.000000,2593.0,90.0,1341.500000,116,4,60.000000,2,...,134.910,134.910000,1214.190,134.910,134.910,134.910000,1214.190,-102.0,-223.333333,-2010.0
456240,56,4,14.000000,600.0,30.0,345.000000,21,2,12.500000,3,...,53682.345,41196.411964,1153499.535,1672.785,53682.345,34999.603393,979988.895,-12.0,-166.321429,-4657.0
456241,41,4,10.250000,330.0,210.0,270.000000,12,8,10.000000,1,...,32830.245,19702.530000,315240.480,6574.815,32830.245,19702.530000,315240.480,-20.0,-127.375000,-2038.0
456242,52,4,13.000000,330.0,192.0,250.500000,22,8,13.000000,2,...,27000.000,8521.556029,289732.905,54.000,27000.000,8521.556029,289732.905,-11.0,-140.235294,-4768.0
456243,19,3,6.333333,240.0,90.0,160.000000,9,4,6.333333,2,...,18934.155,5238.517500,52385.175,3636.135,18934.155,5238.517500,52385.175,-71.0,-222.100000,-2221.0
456244,133,10,13.300000,1020.0,30.0,285.000000,55,2,12.500000,3,...,28343.700,14248.980000,170987.760,154.260,28343.700,14248.980000,170987.760,-31.0,-200.000000,-2400.0
456245,19,2,9.500000,330.0,180.0,255.000000,12,7,9.500000,1,...,6481.755,6017.524412,102297.915,5687.865,6481.755,6017.524412,102297.915,-37.0,-197.764706,-3362.0
456246,33,2,16.500000,224.0,150.0,187.000000,28,6,17.000000,2,...,14419.710,4877.861667,131702.265,29.340,14419.710,4877.861667,131702.265,-7.0,-140.555556,-3795.0
456247,134,5,26.800000,2862.0,30.0,686.400000,113,2,27.200000,3,...,17304.480,3102.594231,40333.725,520.605,17304.480,3102.594231,40333.725,-34.0,-211.384615,-2748.0
456248,46,3,15.333333,690.0,150.0,390.000000,24,6,14.000000,1,...,67725.495,67693.211250,812318.535,67338.090,67725.495,67693.211250,812318.535,-28.0,-191.750000,-2301.0
456249,12,1,12.000000,330.0,330.0,330.000000,12,12,12.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456250,50,4,12.500000,330.0,150.0,256.000000,22,6,12.250000,2,...,9892.485,5867.676562,187765.650,1.080,9892.485,5565.989531,178111.665,-33.0,-184.437500,-5902.0
456251,7,1,7.000000,180.0,180.0,180.000000,7,7,7.000000,2,...,12815.010,7492.924286,52450.470,6605.910,12815.010,7492.924286,52450.470,-38.0,-156.285714,-1094.0
456252,6,1,6.000000,150.0,150.0,150.000000,6,6,6.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456253,14,3,4.666667,150.0,60.0,100.000000,12,4,7.333333,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456254,19,2,9.500000,270.0,240.0,255.000000,10,9,9.500000,1,...,19065.825,10239.832895,194556.825,2296.440,19065.825,10239.832895,194556.825,-18.0,-161.263158,-3064.0
456255,74,6,12.333333,690.0,60.0,290.000000,24,3,10.666667,4,...,308277.315,43060.651071,1205698.230,110.880,308277.315,36667.105714,1026678.960,-76.0,-246.071429,-6890.0